*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Calculator{
    background-color: rgb(25, 88, 19);
    padding: 10px;
    border-radius: 10px;
    
}
.heading{
    text-align: center;
}
.h2{
    text-align:center;
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: rgb(194, 231, 195);
}
button{
    height: 48px;
    width: 48px;
    background-color: rgb(63, 100, 71);
    margin: 4px;
}